*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

.course-item{
    padding: 15px;
    font-size: 22px;
    background-color: #ccc;
    width: 200px;
    height: 150px;
    border-top: 4px solid #333;
    cursor: pointer;
    box-shadow: 2px 4px 5px 0 #bdbdbd;
    transition: 0.5s ease-in-out;
    background-image: url(https://geracaotech.iel-ce.org.br/images/logo-geracao-tech.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.course-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
.course-item:first-child{
    border-top: 4px solid #009681;

}
.course-item:first-child:hover{
    border-top-color: #000;
}

.course-item:hover{
    background-color: yellow;
    transform: translateY(-10px);
    /* transition: 0.5s ease-in-out; */
}

.course-item span{
    background-color: #333;
    color: #Fff;
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    position: absolute;
    top: -15px;
    right: 5px;

}